.chartContainer canvas {
    max-height: 250px;
    width: 250px;
}

.chartContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}